body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
  
}
.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}
a:hover {
	color:#2387D9;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.postmessage{
    font-family:'Courier New', Courier, monospace;
    padding: 10px;

}


.posttimestamp{
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
}


.likecount{
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
}
.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 50px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor:pointer;
}

.formtitle{
    width:80%;
    height:5%;
}


.formbody{
    width: 80%;
    height:20%;
   
}



.formhappiness{
    display: flex;
    align-items: center;
    

}

.formselect{
    padding-left:1%;
}


.submitbutton{
    padding-top:2%;
}


.flash-container {
    background-color: blue;
    height: 20px;
}


.postlist{
    display: flex;
    flex-wrap: wrap;
}

.postbox{

    display: flex;
    vertical-align: middle;
    margin:0.2%;
    background-color:#c6d8e7;
    

    @media screen and (min-width: 1200px){
        width: 32%;  
      }

    @media screen and (min-width: 800px) and (max-width:1200px){
        width: 48%;  
        }

    @media screen and (max-width: 800px){
        width: 99%;  
        }

}

.tagitem{
    color: black;
    font-size: medium;
    border: 2px solid black;
    background-color: white;

}


.form-username{
    width: 40%;
    height:5%;
    
}

.form-email{
    width: 40%;
    height:5%;

}

.password-1{
    width: 40%;
    height:5%;
}


.password-2{
    width: 40%;
    height:5%;
}